@CHARSET "UTF-8";

.background-v1_0 .obj_new {
	background-image: url(/images/nexpom/com/object/img_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.background-v1_0 .obj_new .obj-con{
	position:relative;
    height: 100%;
    /* display: -webkit-flex;
    display: flex; */
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; 
    text-align: center;
    line-height: normal;
}
.background-v1_0 .obj_new .obj-con .obj-el .obj-el-tooltip {
	display: none;
	position: absolute;
    width: 140px;
    margin-left: -35px;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    padding: 5px;
}
.background-v1_0 .obj_new .obj-con .obj-el:hover .obj-el-tooltip {
	display: block;
}
.background-v1_0 .obj_new .obj-con .obj-el{
	display: inline-block;
	margin-bottom: 10px;
}
.background-v1_0 .obj_new .obj-con .obj-el .obj-el-title {
	width: 100%;
	font-weight: 600;
    text-align: center;
}

.background-v1_0 .obj_new .obj-con .obj-el .obj-el-icon {
	width: 100%;
}
.background-v1_0 .obj_new .obj-con .obj-el .obj-el-icon img {
	width: 100%;
}
.background-v1_0 .obj_new .obj-con .obj-el .obj-el-label {
	width: 100%;
    text-align: center;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.obj-bg-red {
	color: #fff;
	background-color: #e5603b;
	border-color: #e24e24;
}
.obj-bg-gray {
	color: #ffffff;
	background-color: #666;
	border-color: rgba(0, 0, 0, 0.15);
}
.obj-bg-yellow {
	color: #fff;
	background-color: #eac85e;
	border-color: #e7c047;
}
.obj-bg-green {
	color: #fff;
	background-color: #56bc76;
	border-color: #47b268;
}
.svg_tooltip {
	position: absolute;
	height: auto;
	padding:10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	pointer-events: none;
}